img.centered
{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -200px; /* Width of image /2 */
  margin-top: -25px; /* Height of image /2 */
  z-index: 999;
  pointer-events: none;
  user-select: none;
  opacity: 0.5;
}

img.none
{
  pointer-events: none;
  user-select: none;
}