.main-content table th {
    font-weight: 700;
    background-color: #999999;
    color: #fff;
}
.main-content h1, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: 650;
    color: #404040;
    font-size: 1.5rem;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 2px 18px;
    border-bottom: 1px solid #111;
    border-top: 10px solid #ffffff;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #111;
    font-size: 0.8rem;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    font-size: 0.7rem;
}

a {
    color: #1e6bb8;
    text-decoration: none;
    font-weight: bold;
}